.content-container
    .content-header
        h2.h2 Мої броні
    .content-main
        .booking-container
            .booking-container-header
                .booking-container-header-top
                    .booking-container-header-col.booking-container-header-col__left
                        .booking-status
                            .status Бронь створено
                            .date.font-light 04.04.2023 в 09:45
                        .booking-orders
                            ul.orders-list
                                li.orders-item №122010210,
                                li.orders-item №122010212,
                                li.orders-item №122010213
                    .booking-container-header-col.booking-container-header-col__center
                        ul.venue-info-list
                            li.venue-info-list
                                span.font-light Аптека TAS
                                include ../img/icons/info.svg
                            li.venue-info-list
                                span.font-light Відчинено до 21:00
                            li.venue-info-list
                                span.font-light вул. Саперно-Слобідська 10, Київ
                    .booking-container-header-col.booking-container-header-col__right
                        .booking-info
                            .booking-info-product
                                .product-quantity.font-light 2 товара
                                .product-price.font-light 89,70 грн
                            .btn-open-main-wrap
                                button#open-container-main
                                    include ../img/icons/arr-top.svg
                .booking-container-header-bottom
                    .booking-numbers
                        include ../img/icons/info.svg
                        span.font-light Назвіть додаткові номери бронювань для отримання рецептурних товарів
            .booking-container-main
                .booking-container-main-left
                    ul.product-list
                        li.product-item
                            .product-item-header
                                .product-item-title №122010210
                            .product-item-main
                                .product-info
                                    .product-img-wrapper
                                        img(src="../img/mahnykor.webp", alt="mahnykor")
                                    .product-text
                                        h4.product-title Магнікор, таб. №30
                                        p.product-subtitle Киевский витаминный завод
                                        .product-quantity 1 упаковка
                                .product-price 79.<span>77 грн</span>
                        li.product-item
                            .product-item-header
                                .product-item-title №122010212
                            .product-item-main
                                .product-info
                                    .product-img-wrapper
                                        img(src="../img/kaptopres-darnytsa.webp", alt="kaptopres-darnytsa")
                                    .product-text
                                        h4.product-title Каптопрес-дарница табл. 50мг/25мг №20
                                        p.product-subtitle Дарница чао (украина, киев)
                                        .product-recipe
                                            include ../img/icons/recipe.svg
                                            span ЗА РЕЦЕПТОМ
                                        .product-quantity 1 упаковка
                                .product-price 79.<span>77 грн</span>
                        li.product-item
                            .product-item-header
                                .product-item-title №122010213
                            .product-item-main
                                .product-info
                                    .product-img-wrapper
                                        img(src="../img/kaptopres-darnytsa.webp", alt="kaptopres-darnytsa")
                                    .product-text
                                        h4.product-title Каптопрес-дарница табл. 50мг/25мг №20
                                        p.product-subtitle Дарница чао (украина, киев)
                                        .product-recipe
                                            include ../img/icons/recipe.svg
                                            span ЗА РЕЦЕПТОМ
                                        .product-quantity 1 упаковка
                                .product-price 79.<span>77 грн</span>
                    .total-price-wrapper
                        span.total-price-text Всього:
                        span.total-price 79.<span>77 грн</span>
                .booking-container-main-right
                    div.accordion-booking
                        div.accordion-item
                            div.accordion-header
                                .status-wrapp
                                h4.h4 Бронь створено 04.04.2023 09:43:41
                            div.accordion-content
                                p.accordion-content-text Содержимое аккордеона 1
                        div.accordion-item
                            div.accordion-header
                                .status-wrapp
                                h4.h4 Обробка
                            div.accordion-content
                                p.accordion-content-text Содержимое аккордеона 2
                        div.accordion-item
                            div.accordion-header
                                .status-wrapp
                                h4.h4 Очікує вас
                            div.accordion-content
                                p.accordion-content-text Содержимое аккордеона 3