@import '../utils/main.utils.scss';
.content-container {
    padding: 32px 79px 32px 20px;
    flex: 1;
    min-height: 661px;
}

.content-header {
    padding-bottom: 24px;
    border-bottom: 1px solid $COLOR__GREY;
    .h2 {
        @include font(20px, 600, 24px, $COLOR__BLACK);
    }
}

.content-main {
    border-radius: 8px;
    margin-top: 24px;
    border: 1px solid #D9EFD4;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20);
}

.booking-container-header {
    padding: 16px;
    background-color: #EEF7EB;
    border: 1px solid #EEF7EB;
    border-radius: 8px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20);
}

.booking-container-header-top {
    margin-bottom: 10px;
    @include flex(row, null, flex-start);
}

.booking-container-header-col__left {
    width: 100%;
    max-width: 290px;
    .booking-status {
        margin-bottom: 10px;
        @include flex(row, null, center);
        .status {
            padding: 0 8px;
            margin-right: 8px;
            border-radius: 4px;
            border: 1px solid $COLOR__GREEN;
            background: $COLOR__WHITE;
            text-align: center;
            @include font(14px, 400, 24px, $COLOR__GREEN);
        }
    }
    .booking-orders {
        .orders-list {
            flex-wrap: wrap;
            @include flex(row, null, null);
            .orders-item {
                margin-right: 5px;
                @include font(16px, 600, 24px, $COLOR__BLACK);
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

.booking-container-header-col__center {
    margin: 0 10px;
    flex: 1;
    .venue-info-list {
        .venue-info-list {
            @include flex(row, null, center);
            svg {
                margin-left: 4px;
                cursor: pointer;
            }
        }
    }
}

.booking-container-header-col__right {
    max-width: 130px;
    .booking-info {
        @include flex(row, null, center);
        .btn-open-main-wrap {
            margin-left: 16px;
            #open-container-main {
                padding: 8px;
                background-color: #D9EFD4;
                border: 1px solid $COLOR__GREEN;
                border-radius: 8px;
                cursor: pointer;
                transition: .3s;
                svg {
                    transition: .3s;
                    path {
                        transition: .3s;
                    }
                }
                &:hover {
                    background-color: $COLOR__GREEN;
                    svg {
                        path {
                            stroke: $COLOR__WHITE;
                        }
                    }
                }
            }
            #open-container-main.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.booking-container-header-bottom {
    .booking-numbers {
        padding: 12px 16px;
        width: 100%;
        max-width: 555px;
        background-color: $COLOR__YELLOW;
        border-radius: 8px;
        @include flex(row, null, center);
        svg {
            margin-right: 4px;
            circle {
                stroke: #E06213;
            }
            path {
                stroke: #E06213;
            }
        }
    }
}

.booking-container-main {
    display: none;
}

.booking-container-main.active {
    @include flex(row, null, flex-start);
}

.booking-container-main-left {
    flex: 1;
    border-right: 1px solid #D9EFD4;
}

.product-list {
    .product-item {
        .product-item-header {
            padding: 8px 16px;
            background-color: #D9EFD4;
            .product-item-title {
                @include font(16px, 600, 24px, $COLOR__BLACK);
            }
        }
        .product-item-main {
            padding: 16px;
            border-bottom: 1px solid #D9EFD4;
            @include flex(row, space-between, flex-end);
            .product-info {
                @include flex(row, null, center);
                .product-img-wrapper {
                    margin-right: 9px;
                }
                .product-text {
                    .product-title {
                        @include font(14px, 600, 24px, $COLOR__BLACK);
                    }
                    .product-subtitle {
                        @include font(14px, 400, 24px, #888888);
                    }
                    .product-recipe {
                        width: 100px;
                        height: 26px;
                        margin: 8px 0;
                        border-radius: 100px;
                        background-color: #F3F3F3;
                        @include flex(row, center, center);
                        svg {
                            margin-right: 4px;
                        }
                        span {
                            @include font(10px, 700, 10px, #757575);
                        }
                    }
                    .product-quantity {
                        @include font(14px, 400, 24px, $COLOR__BLACK);
                    }
                }
            }
            .product-price {
                @include font(16px, 600, 24px, $COLOR__BLACK);
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.total-price-wrapper {
    padding: 16px;
    @include font(18px, 700, 24px, $COLOR__BLACK);
    @include flex(row, space-between, center);
    .total-price {
        span {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.booking-container-main-right {
    padding: 24px 20px;
    width: 100%;
    max-width: 375px;
}

.accordion-booking {
    position: relative;
    .accordion-item {
        .accordion-header {
            position: relative;
            z-index: 2;
            cursor: pointer;
            transition: background-color 0.3s ease;
            @include flex(row, null, center);
            .status {
                margin: 0 20px 0 4px;
                position: relative;
                width: 11px;
                height: 11px;
                background-color: $COLOR__WHITE;
                border: 1px solid $COLOR__GREEN;
                border-radius: 50%;
                transition: .3s;
                &::before {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    background-color: $COLOR__GREEN;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: .3s;
                }
            }
            .h4 {
                transition: .3s;
                @include font(16px, 600, 24px, #888888);
            }
        }
        .accordion-header.active {
            .h4 {
                color: $COLOR__BLACK;
            }
            .status {
                width: 12px;
                height: 12px;
                transform: scale(1.5);
                &::before {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
        .accordion-content {
            padding-left: 30px;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease;
            .accordion-content-wrapp {
                padding: 8px 16px;
                background-color: $COLOR__YELLOW;
                width: fit-content;
                border-radius: 8px;
                margin: 16px 0 24px;
                p {
                    max-width: 160px;
                    @include font(14px, 400, 24px, $COLOR__BLACK);
                }
            }
        }
    }
    &::before {
        content: '';
        padding-bottom: 6px;
        position: absolute;
        left: 9px;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        border-left: 1px dotted $COLOR__GREEN;
    }
}

#cancel {
    margin-top: 24px;
    background-color: transparent;
    text-transform: uppercase;
    @include font(16px, 400, 24px, #FF6262);
    @include flex(row, center, center);
    svg {
        margin-right: 20px;
        transition: .3s;
    }
    &:hover {
        svg {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 1050px) {
    .content-container {
        padding: 32px 20px;
    }
}

@media screen and (max-width: 700px) {
    .booking-container-header-top {
        @include flex(row, space-between, flex-start);
    }
    .booking-container-header-col__center {
        display: none;
    }
    .booking-info-product {
        display: none;
    }
    .booking-container-header-col__right .booking-info .btn-open-main-wrap {
        margin-left: 0;
    }
    .booking-container-main.active {
        @include flex(column-reverse, flex-start, flex-start);
    }
    .booking-container-main-left,
    .booking-container-main-right {
        width: 100%;
    }
}