@import './mixin.scss';
@import './vars.scss';
* {
    padding: 0;
    margin: 0;
    border: 0;
}

::-moz-selection {
    background-color: rgba(217, 239, 212, 0.4784313725);
}

::selection {
    background-color: rgba(217, 239, 212, 0.4784313725);
}

*,
:after,
:before {
    box-sizing: border-box;
}

:active,
:focus,
a:active,
a:focus {
    outline: 0;
}

aside,
footer,
header,
nav {
    display: block;
}

body,
html {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
}

button,
input,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.font-light {
    @include font(14px, 400, 24px, $COLOR__BLACK);
}

.header {
    width: 100%;
    min-height: 80px;
    background-color: $COLOR__GREEN;
}

.main {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 100%;
    max-width: 305px;
    height: 100%;
    background-color: $COLOR__GREY;
}

.footer {
    height: 600px;
    flex-shrink: 0;
    background-color: $COLOR__GREY;
    border-top: 1px solid #CCC;
}

@media screen and (max-width: 1050px) {
    .sidebar {
        max-width: 0px;
    }
}